body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-button {
    border-radius: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 1200px;
}

.drawing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}