header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1,
h2 {
	font-family: 'Roboto', sans-serif;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline;
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	font-size: 21px;
	color: #fff;
	transition: color 0.3s;
}

nav a:hover {
	color: #ff6600;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 20px;
	border: 15px solid #dddddd;
	padding: 10px;
}

aside {
	background-color: #dddddd;
	float: right;
	width: 50%;
	background-color: #f2f2f2;
	padding: 10px;
	border: 1px solid #ddd;
}

aside article {
	border: 1px solid #ccc;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

footer a {
	color: #ffffff;
	transition: color 0.3s;
}

footer a:hover {
	color: #ff6600;
}

nav a:active {
	color: #000;
}

nav a:visited {
	color: #a52a2a;
}
