/* Стили для шапки сайта */
header {
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Внутренние отступы */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Применение шрифта "Roboto" к заголовкам */
h1, h2 {
    font-family: 'Roboto', sans-serif;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-size: 21px;
    color: #fff;
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

nav a:hover {
    color: #ff6600; /* Цвет текста при наведении */
}

/* Стили для основного контента */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px; /* Отступ между секциями */
    border: 1px solid #ddd; /* Граница секции */
    padding: 10px; /* Внутренние отступы */
}

/* Стили для боковой панели */
aside {
    /* background-color: #f0f0f0; /* Цвет фона */
    padding: 10px;
    float: right;
    width: 50%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
    margin-left: 20px;
}

/* Стили для независимых секций в боковой панели */
aside article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Стили для подвала сайта */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Стили для ссылок в подвале */
footer a {
    color: #ff6600;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}

/* Стили для меню навигации */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/* Псевдоклассы для меню навигации */
nav a:hover {
    color: #ff6600;
}

nav a:active {
    color: #000;
}

nav a:visited {
    color: #ffffff;
}
