/* Стили для шапки сайта */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Стили для основного контента */
main {
    margin: 20px;
}

h1 {
    font-size: 24px;
}

section {
    margin-bottom: 20px;
}

/* Стили для боковой панели */
aside {
    float: right;
    width: 30%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
    margin-left: 20px;
}

article {
    margin-bottom: 10px;
}

/* Стили для пунктов меню в навигации */
nav a:hover {
    color: #ff9900;
}

nav a:active {
    color: #ff0000;
}

nav a:visited {
    color: #990099;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
